<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

  <head>
    <meta charset="utf-8">
    <title>Welcome to Manifest!</title>

  </head>
  <body>
    <!--
    Going to want to user jQuery to hide and unhide some
    overlays that will be for adding new jumpers and such.

    There will need to be a menu to navigate between views.

    -->

    <div class="container">
      <div class="jumperContainer" id="scrollable">
        <h1>Jumpers</h1>
        <h1 class="AddToLoad">Add To Load:</h1>
        <ul id="activeJumpers">
          <!-- Jumper Section -->
        </ul>
        <div class="buttonContainer">
          <p>Total: <span id='total'></span></p>
          <button type="button" class="buttonFooter">Add to Load</button>
          <button type="button" class="buttonFooter">Remove From Load</button>
          <button type="button" class="button">New Tandem Student</button>
          <button type="button">New Solo Student</button>
          <button type="button">New Fun Jumper</button>
        </div>

        <!-- could use check boxes for type of jumper (TI, Coach, etc.) -->

      </div>
      <div class="loadContainer">
        <h1 class="loadHeader">Today's Loads</h1>
        <div class="loadDisplay">
          <!-- Load Section -->
        </div>

      </div>
      <div class="menuContainter">
        <div class="menu">
          <button type="button" class="button">New Tandem Student</button>
          <button type="button">New Solo Student</button>
          <button type="button">New Fun Jumper</button>
        </div>
        <div class="=addToLoad">
          <ul>

          </ul>
        </div>

      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scriptsBackbone.js') }}"></script>
  </body>
</html>
