<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='testingStyles.css') }}">
	</head>
	<body>

		<script type="text/javascript" src="{{url_for('static', filename='testing.js')}}"></script>

		<h1>Restaurants</h1>
		<div class = 'restaurant'>
			<div class = 'flash'>
				{% with messages = get_flashed_messages() %}
			     {% if messages %}
			        {% for message in messages %}
			            <p> <strong> {{ message }} </strong> </p>
			        {% endfor %}
			     {% endif %}
			  {% endwith %}
			</div>
			<div>
				{% for restaurant in restaurants %}
					<div class = 'box'>
						<h3>{{restaurant.name}}</h3></a>
						<p class = 'indent'>{{restaurant.id}}</p>
					</div>
					{% endfor %}
			</div>
		</div>
	</body>
</html>
