body {
  background: ghostwhite;
}

.container {
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-rows: 66% 33%;
  grid-gap: 1em;
  width: 98vw;
  height: 97vh;
  box-sizing: border-box;
  background: ghostwhite;
}

.singleLoad:nth-child(even), .jumper:nth-child(even) {
  background: aliceblue;
  }

.singleLoad:nth-child(odd), .jumper:nth-child(odd) {
  background: lightgrey;
  }

ul {
  list-style: none;
  padding: 1px;
}

/* rename to loadContainer */
.jumperList {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: 25px;
  padding: 1em;
  box-sizing: border-box;
  background: lightskyblue;
}

#activeJumpers {
  box-sizing: border-box;
  border: 5px solid;
  position: relative;
  overflow-y: scroll;
}

.menuContainter {
  grid-column: 1/3;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
  border-radius: 25px;
  padding: 1em;
  box-sizing: border-box;
  background: lightskyblue;
}

/* rename to loadContainer */
.loads {
  display: grid;
  grid-template-rows: 1fr 3fr;
  border-radius: 25px;
  padding: 1em;
  box-sizing: border-box;
  background: lightskyblue;
}

.loadDisplay {
  display: grid;
  grid-column-gap: 5px;
  grid-auto-columns: 24%;
  overflow-x: scroll;
  grid-auto-flow: column;
  overflow-y: hidden;
}

.singleLoad {
  border: 2px solid;
}


.loadHeader {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.button {
}
